<div class="footer">
  <div class="footer__block">
    <h2>HOT OFFERS</h2>
    <p>Vestibulum ante ipsum prims in faucibus orci luctum et ultries posuere cubilia curae. Suspendisee sollicitudin valit sed leo.
    Ut pharetra augue nec augue. Nam elet magna, hend.</p>
    <ul class="footer__block-arrow">
      <li>Vestibulum ante ipsum prims in faucibus orci luctum</li>
      <li>Nam elet magna, hendrerit sit amet tincidunt ac</li>
      <li>Quisque diam lorem interdum vitae dapibus ac scale</li>
      <li>Donec eget tellus non erat lacinia fermentum</li>
      <li>Donec in velit vel ipsum auctor pulvin</li>
    </ul>
  </div>
  <div class="footer__block">
    <h2>HOT OFFERS</h2>
    <p>Vestibulum ante ipsum prims in faucibus orci luctum et ultries posuere cubilia curae. Suspendisee sollicitudin valit sed leo.
      Ut pharetra augue nec augue. Nam elet magna, hend.</p>
    <ul class="footer__block-arrow">
      <li>Vestibulum ante ipsum prims in faucibus orci luctum</li>
      <li>Nam elet magna, hendrerit sit amet tincidunt ac</li>
      <li>Quisque diam lorem interdum vitae dapibus ac scale</li>
      <li>Donec eget tellus non erat lacinia fermentum</li>
      <li>Donec in velit vel ipsum auctor pulvin</li>
    </ul>
  </div>
  <div class="footer__block">
    <h2>STORE INFORMATION</h2>
    <ul>
      <li class="footer__block-location footer__block-icon">
        <span>Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</span>
      </li>
      <li class="footer__block-phone footer__block-icon">
        <span>Call us now toll free: (800) 2345-6789</span>
      </li>
      <li class="footer__block-mail footer__block-icon">
        <span>
          Customer support: <a href="mailto:support@example.com">support@example.com</a><br>
          Press: <a href="mailto:pressroom@example.com">pressroom@example.com</a>
        </span>
      </li>
      <li class="footer__block-skype footer__block-icon">
        <span>Skype: <a href="skype:sample-username?chat">sample-username</a></span>
      </li>
    </ul>

  </div>
</div>
